# https://github.com/Danimoth/gitattributes/blob/master/Web.gitattributes

# handle all files NOT found below
* text=auto



#
## These files are text and should be normalized (Convert crlf => lf)
#

# source code
*.css text
*.sass text
*.scss text
*.less text
*.js text eol=lf
*.json text
*.htm text
*.html text
*.xml text
*.svg text
*.txt text
*.sh text
*.bat text

# templates
*.ejs text
*.jade text
*.hbs text

# server config
.nginx.conf text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.eslintrc text
.eslintignore text
.stylelintrc text

# misc config
.editorconfig text

# build config
*.npmignore text
*.npmrc text
*.babelrc text

# Documentation
*.md text


#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pdf binary
